.header-buttons {
    position: absolute;
    right: 10px;
    top: 8px;
}

.btn-green {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
    margin-right: 3px;
    width: 40px;
}

.btn-blue {
    background-color: lightblue !important;
    border-color: lightblue !important;
    margin-right: 3px;
    width: 40px;
}

.btn-red {
    background-color: indianred !important;
    border-color: indianred !important;
    margin-right: 3px;
    width: 40px;
}

.table-row {
    cursor: pointer;
}

.selected {
    background-color:lavender;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 49px;
    bottom: -15px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 18px;
  }
  
  .password-toggle:hover {
    color: #007bff;
  }
  